
.login-form-button{
  width: 100%;
}

.auth--root {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 242, 245);
}

.auth--tabs {
  min-width: 300px;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
}